body
{
    font-family: Calibri,Arial, sans-serif;
    color: #444;
    background: url("pics/logowip2s.png") no-repeat WhiteSmoke;
    background-position: right top;
    margin: 0px;
    border-top: 4px solid seagreen;
    word-wrap: break-word;
}

.main
{
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 100px;
    border-left: 1px solid seagreen;
}

img
{
    max-width: 100%;
}

video
{
    max-width: 100%;
}

a
{
    color: seagreen;
    text-decoration: none;
    transition: color 0.2s;
}
a:hover
{
    color: tomato;
}


p
{
    padding-left: 50px;
    margin-top: 0px;
    text-align: justify;
}

h1
{
    font-weight: normal;
    border-left: 10px solid seagreen;
    padding-left: 3px;
}

h2
{
    font-weight: normal;
    border-left: 6px solid seagreen;
    padding-left: 3px;
    margin-bottom: 8px;
    margin-top: 8px;
}

h3
{
    font-weight: normal;
    border-left: 4px solid seagreen;
    padding-left: 3px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: rgba(46,139,87,0);
    transition: background 0.2s;
}

h3 > i
{
    color: #ccc;
    color: rgba(0,0,0,0.3);
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 0.7em;
}

dl
{
    border-left: 1px solid tomato;
    margin-left: 50px;
}

dt
{
    border-left: 3px solid tomato;
    padding-left: 3px;
}
dd
{
    margin-bottom: 0.5em;
}

ul
{
    list-style-type: none;
    padding: 0px;
    padding-left: 1em;
    margin: 0px;
    position: relative;
}

ul li
{
    padding-left: 1em;
    position: relative;
}

ul li:before
{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: .5em;
    border-left: 1px solid orange;
    border-top: 1px solid orange;
    left: 0;
    top: 50%;
}

ul li:last-child:before
{
    content: "";
    display: block;
    position: absolute;
    width: .5em;
    border: 0;
    border-top: 1px solid orange;
    left: 0;
    padding-left: 1px;
    top: 50%;
}

table
{
    padding: 0;
    margin: 5px;
    border: 0;
    border: 0px solid seagreen;
    border-collapse: collapse;
    text-align: center;
}

thead th
{
    font-weight: normal;
    background: seagreen;
    color: rgba(0,0,0,0.6);
}
tbody tr:nth-child(even)
{
    background: rgba(46,139,87,0.1);
}
img.tr
{
    float: right;
    margin: 10px;
}

fieldset
{
    border: 1px solid seagreen;
    border-left: 3px solid seagreen;
    margin-left: 0px;
}

label
{
    display: inline-block;
    min-width: 150px;
    text-align: right;
    vertical-align: top;
}

input, textarea, select
{
    min-width: 150px;
}

input[type="checkbox"]
{
    min-width: initial;
}

.toggle
{
    transition: color 0.1s, border 0.1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle:before
{
    position: absolute;
    left: -2em;
    text-align: center;
    transform-origin: 50% 58%;
    font-family: consolas;
    transition: color 0.2s, transform 0.2s;
}

.toggle.closed:before
{
    content: "[+]";
    color: seagreen;
}

.toggle.open:before
{
    content: "[-]";
    color: orange;
    transform: rotate(180deg);
}

.toggle:hover
{
    cursor: pointer;
    border-left: 10px solid seagreen;
}

.collapseable
{
    opacity: 0;
    visibility: hidden;
    position: relative;
    left: 50px;
    max-height: 0px;
    transition: opacity 0.5s ease 0s, left 0.2s ease 0s, max-height 0.3s, visibility 0.5s;
}

.menu
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid seagreen;
    
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.menu li
{
    background: none;
    border: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: center;
    border-top: 3px solid seagreen;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu li:before
{
    display: none;
}

.menu li:last-child:before
{
    display: none;
}

.logo
{
    position: absolute;
    right: 0;
    top: 0px;
    display: none;
}
